{
  "ed_rcon_password": "",
  "ed_server_rcon_port": "",
  "ed_server_ip": "",
  "ed_server_api": "",
  "ed_motd": {
    "Join us on discord!": 20,
    "Thanks for playing!": 60
  },
  "ed_banned_words": [
    ""
  ],
  "ed_banned_names": [
    ""
  ],
  "ed_banned_uid": [
    ""
  ],
  "discord_api_token": "",
  "discord_webhook_name": "",
  "discord_webhook_url": "",
  "discord_webhook_channel": "",
  "discord_channel_role": ""
}
