{
  "ed_rcon_password": "",
  "ed_server_rcon_port": "11776",
  "ed_server_ip": "",
  "ed_server_api": "http://:11775/",
  "ed_motd": {
    "Join us on discord!": 20,
    "Thanks for playing!": 60
  },
  "ed_banned_words": [
    "badword1",
    "badword2"
  ],
  "ed_banned_names": [
    "badname1",
    "badname2"
  ],
  "ed_banned_uid": [
    "baduid1",
    "baduid2"
  ],
  "discord_api_token": "",
  "discord_webhook_name": "rcon-relay",
  "discord_webhook_url": "https://discord.com/api/webhooks/xxxx/yyyyy",
  "discord_webhook_channel": "rcon",
  "discord_channel_role": ""
}

