{"ed_rcon_password": "", "ed_server_rcon_port": "11776", "ed_server_ip": "", "ed_server_api": "http://:11775/", "ed_motd": {"Join us on discord!": 20, "Thanks for playing!": 60}, "ed_banned_words": ["badword", "slur", "etc"], "ed_banned_names": ["badname", "slur"], "ed_banned_uid": ["abcdefg", "00000000000000000000"], "discord_api_token": "", "discord_webhook_name": "rcon-webhook", "discord_webhook_url": "", "discord_webhook_channel": "", "discord_channel_role": ""}